<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row row--item">
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </div>

  <fieldset>
    <div class="small-9 columns">
      <h3>Answer Options</h3>
    </div>
    <div class="small-12 columns">
      <p>Add the possible responses for the question here</p>
    </div>
    <%= f.fields_for :question_inputs do |question_input| %>
      <%= render 'question_input_fields', f: question_input %>
    <% end %>
    <div class="small-12 columns">
      <%= link_to_add_association 'Add option', f, :question_inputs, class: "button"  %>
    </div>
  </fieldset>

  <fieldset class="field ">
    <div class="small-9 columns">
      <h3>Labels</h3> 
    </div>
    <div class="small-12 columns">
      <p>Labels to display on the left and right of the options (ie 'Never' and 'Always')</p>
    </div>
    <div class="small-6 columns">
      <div class="section-contain">
        <%= f.label :low_label %><br>
        <%= f.text_field :low_label %>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="section-contain">
        <%= f.label :high_label %><br>
        <%= f.text_field :high_label %>
      </div>
    </div>
  </fieldset>

  <fieldset>
   <div class="small-9 columns">
      <h3>Sections</h3> 
    </div>
    <div class="small-12 columns">
     <p>A question could potentially influence the results in multiple sections</p>
    </div>
    <%= f.fields_for :question_sections do |question_section| %>
      <%= render 'question_section_fields', f: question_section %>
    <% end %>
    <div class="small-12 columns">
      <%= link_to_add_association 'Add to section', f, :question_sections, class: "button" %>
    </div>
  </fieldset>

  <fieldset>
    <div class="small-12 columns actions">
      <%= f.submit 'Submit', :class => 'button' %>
    </div>
  </fieldset>
<% end %>
