<div class="nested-fields small-4 columns">
	<div class="section-contain clearfix">

		<%= link_to_remove_association "", f, class: 'fa fa-times remove-field' %>
		
		<div class="small-8 columns">
			<%= f.label "Answer Option"  %>
			<%= f.text_area :input %>
		</div>

		<div class="small-4 columns">
			<%= f.label "Score" %>
			<%= f.text_area :order %>
		</div>

	</div>
	
</div>