<div class="nested-fields small-4 columns">
	<div class="section-contain clearfix">
		
		<div class="small-6 columns">
			<%= f.label :section_id %>
			<%= f.collection_select :section_id, Section.all, :id, :name, {} %>
		</div>

		<div class="small-6 columns">
			<%= f.label :weight %>
			<%= f.text_field :weight %>
		</div>
		
		<%= link_to_remove_association "", f, class: 'fa fa-times remove-field' %>

	</div>
</div>