<p id="notice"><%= notice %></p>

<div class="row">
    <div class="small-12 medium-9 column">
        <h1>Questions</h1>
    </div>
    <div class="small-12 medium-3 column text-right">
        <%= link_to 'New Question', new_question_path, class: "button" %>
    </div>
</div>

<div class="sortable">
  <% @questions.each do |question| %>
    <div class="row question row--item" data-id="<%= question.id %>" >
        <div class="small-9 columns"><%= link_to question.question, edit_question_path(question) %></div>
        <div class="small-3 columns text-right end">
            <% question.sections.each do |section| %>
                 <%= link_to Section.find(section.id).name, section_path(section.id) %>
            <% end %>
            <div class="row--item__controls">
                <%= link_to '', edit_question_path(question), class: "edit fa fa-pencil" %>
                <%= link_to '', question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-times' %>
            </div>
        </div>
        <!-- <div style="dis;" class="small-2 medium-1 text-right columns"><%= link_to '', edit_question_path(question), class: "edit fa fa-pencil" %>
        <%= link_to '', question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-times' %></div> -->
    </div>
  <% end %>
</div>

<br>

