<p id="notice"><%= notice %></p>

<p>
  <strong>Heading:</strong>
  <%= @content.heading %>
</p>

<p>
  <strong>Text:</strong>
  <%= @content.text %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
