<%= form_for(@question_section) do |f| %>
  <% if @question_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_section.errors.count, "error") %> prohibited this question_section from being saved:</h2>

      <ul>
      <% @question_section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.number_field :section_id %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
