<p id="notice"><%= notice %></p>

<h1>Listing Question Sections</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Section</th>
      <th>Weight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_sections.each do |question_section| %>
      <tr>
        <td><%= question_section.question_id %></td>
        <td><%= question_section.section_id %></td>
        <td><%= question_section.weight %></td>
        <td><%= link_to 'Show', question_section %></td>
        <td><%= link_to 'Edit', edit_question_section_path(question_section) %></td>
        <td><%= link_to 'Destroy', question_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question section', new_question_section_path %>
