<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question_section.question_id %>
</p>

<p>
  <strong>Section:</strong>
  <%= @question_section.section_id %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @question_section.weight %>
</p>

<%= link_to 'Edit', edit_question_section_path(@question_section) %> |
<%= link_to 'Back', question_sections_path %>
