<%= form_for(@questionnaire_item) do |f| %>
  <% if @questionnaire_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionnaire_item.errors.count, "error") %> prohibited this questionnaire_item from being saved:</h2>

      <ul>
      <% @questionnaire_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :content_id %><br>
    <%= f.number_field :content_id %>
  </div>
  <div class="field">
    <%= f.label :break %><br>
    <%= f.check_box :break %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
