<p id="notice"><%= notice %></p>

<div class="row">
    <div class="small-12 medium-3 column">
        <h1>Questionnaire</h1>
    </div>
    <div class="small-12 medium-6 column text-right">
        <%= link_to 'New Question', new_question_path, class: "button" %>
        <%= link_to 'New Content', new_content_path, class: "button" %>
        <a class="button create-break" href="#">Insert break</a>
    </div>
</div>

<% @i = 1 %> 

<div class="sortable">
    <% @questionnaire_items.each do |questionnaire_item| %>

      <% if questionnaire_item.question %>
        <div class="row question question__questionnaire row--item" data-id="<%= questionnaire_item.id %>" >
      <% elsif questionnaire_item.content %>
        <div class="row content row--item" data-id="<%= questionnaire_item.id %>" >
       <% else %>
        <div class="row break row--item" data-id="<%= questionnaire_item.id %>" >
      <% end %>

        <% if questionnaire_item.question %>
          <div class="small-9 columns">
            <div class="row--item__order">
              <%= @i %>
            </div>
            <%= link_to questionnaire_item.question.question, edit_question_path(questionnaire_item.question) %>
          </div>
          <% @i = @i+1 %>
        <% elsif questionnaire_item.content %>
          <div class="small-9 columns"><%= questionnaire_item.content.heading %></div>
        <% else %>
          <div class="small-9 columns">Break - New page</div>
        <% end %>
        <div class="small-3 columns text-right end">
          <% if questionnaire_item.question %>
            <div class="row--item__controls">
                <%= link_to '', edit_question_path(questionnaire_item.question), class: "edit fa fa-pencil" %>
                <%= link_to '', questionnaire_item.question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-times' %>
            </div>
          <% elsif questionnaire_item.content %>
             <div class="row--item__controls">
                <%= link_to '', edit_content_path(questionnaire_item.content), class: "edit fa fa-pencil" %>
                <%= link_to '', questionnaire_item.content, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-times' %>
            </div>
          <% else %>
            <div class="row--item__controls">
              <%= link_to '', questionnaire_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-times' %>
            </div>
        <% end %>
        </div>
      </div>      
    <% end %>
</div>
