<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @questionnaire_item.question_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @questionnaire_item.content_id %>
</p>

<p>
  <strong>Break:</strong>
  <%= @questionnaire_item.break %>
</p>

<p>
  <strong>Order:</strong>
  <%= @questionnaire_item.order %>
</p>

<%= link_to 'Edit', edit_questionnaire_item_path(@questionnaire_item) %> |
<%= link_to 'Back', questionnaire_items_path %>
