<%= form_for(@user) do |f| %>

	<div class="section-contain">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="section-contain">
  		<%= f.label :email %>
  		<%= f.text_field :email %>
  	</div>

  	<div class="section-contain">
  		<%= f.label :password %>
  		<%= f.password_field :password %>
  		<%= f.label :password_confirmation %>
  		<%= f.password_field :password_confirmation %>
  	</div>
  
  <%= f.hidden_field(:authorised, :value =>1) %>
  <%= f.submit 'Submit', :class => 'button' %>

<% end %>