<p id="notice"><%= notice %></p>

<div class="row">
    <div class="small-12 medium-9 column">
      <h1>Users</h1>
    </div>
    <div class="small-12 medium-3 column text-right">
      <%= link_to 'New User', new_user_path, class: "button" %>
    </div>
</div>


<% @users.each do |user| %>
  <div class="row section row--item">
    <div class="small-12 medium-9 column">
      <%= link_to user.name, edit_user_path(user) %>
    </div>
    <div class="small-12 medium-3 columns text-right end">
      <div class="row--item__controls">
        <%= link_to '', edit_user_path(user), class: "fa fa-pencil" %>
        <%= link_to '', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-times" %>
      </div>
    </div>
    <% if user.authorised != true %>
     <td><%= link_to 'Authorise', 'javascript:void(0)', method: :authorise, class: 'authorise-user', :data => { :id => user.id} %></td>
     <% end %>
  </div>
<% end %>

