<%= form_for(@question_input) do |f| %>
  <% if @question_input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_input.errors.count, "error") %> prohibited this question_input from being saved:</h2>

      <ul>
      <% @question_input.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :input %><br>
    <%= f.text_area :input %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
