<p id="notice"><%= notice %></p>

<h1>Listing Question Inputs</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Order</th>
      <th>Input</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_inputs.each do |question_input| %>
      <tr>
        <td><%= question_input.question_id %></td>
        <td><%= question_input.order %></td>
        <td><%= question_input.input %></td>
        <td><%= link_to 'Show', question_input %></td>
        <td><%= link_to 'Edit', edit_question_input_path(question_input) %></td>
        <td><%= link_to 'Destroy', question_input, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question input', new_question_input_path %>
