<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question_input.question_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @question_input.order %>
</p>

<p>
  <strong>Input:</strong>
  <%= @question_input.input %>
</p>

<%= link_to 'Edit', edit_question_input_path(@question_input) %> |
<%= link_to 'Back', question_inputs_path %>
