<header class="regular header-small" role="banner">
	<div class="main header">
		<div class="">
			<div class="logo">
					<h1 class="img"><a href="/"><img src="http://connected.tearfund.org/images/mainsite5/logo@2x.png" alt="Tearfund"></a></h1>
			</div>
			<h1 class="sub-brand">Connected Church</h1>
			
			<div class="inline-header-items">
				<div class="header-inline header-login">
					 <% if current_user %>
				      Hi <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
				    <% else %>
				      <%= link_to 'Login', '/login' %> | <%= link_to 'Login', '/signup' %>
				    <% end %>
				</div>
			</div>
		</div>
	</div>
</header>
