<ul class="side-nav menu">
  <li class="<%= active_class(questionnaire_items_path) %>">
  	<%= link_to(raw('<i class="fa fa-question" aria-hidden="true"></i> Questionnaire'), questionnaire_items_path, class: "menu__questions")  %>
  </li>
  <li class="<%= active_class(questions_path) %>">
  	<%= link_to(raw('<i class="fa fa-question" aria-hidden="true"></i> Questions'), questions_path, class: "menu__questions")  %>
  </li>
  <li class="<%= active_class(sections_path) %> <%= parent_nav_is_active?(sections_path) %> ">
  	<%= link_to(raw('<i class="fa fa-bars" aria-hidden="true"></i> Sections'), sections_path, class: "menu__sections")  %>
  	<% @sections = Section.all %>
  	<ul class="menu sub-menu">
	  	<% @sections.each do |section| %>
	      <li class="<%= active_class(section) %>">
	        <%= link_to section.name, section %>
	        <ul class="menu sub-menu">
	        	<li class="<%= active_class(section) %>">
	        		<%= link_to 'Questions', section %>
	        	</li>
	        	<li class="<%= active_class([section, :feedbacks]) %>">
	        		<%= link_to 'Feedbacks', [section, :feedbacks] %>
	        	</li>
	        </ul>
	      </li>
	    <% end %>
	  </ul>
  </li>
  <li class="<%= active_class(users_path) %>">
  	<%= link_to(raw('<i class="fa fa-user" aria-hidden="true"></i> Users'), users_path, class: "menu__users")  %>
  </li>
</ul>