<%= form_for(@section) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row row--item">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>


<fieldset>
  <div class="">
    <h3>Feedback for section</h3>
  </div>
  <% @section.feedbacks.each do |feedback| %> 
    <div class="row row--item">
      <div class="small-9 columns"><%= link_to feedback.name, edit_feedback_path(feedback) %> </div>
      <div class="small-3 columns text-right end">
        <span class="secondary">Scoring <%= feedback.low %> - <%= feedback.high %></span>
        <div class="row--item__controls">
            <%= link_to '', edit_feedback_path(feedback), class: "edit fa fa-pencil" %>
            <%= link_to '', feedback, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-times' %>
        </div>
      </div>
    </div>
  <% end %>
</fieldset>

<!--  <fieldset id="recipe-ingredients">
    <ol>
      <%= f.fields_for :feedbacks do |feedback| %>
        <%= render 'feedback_fields', f: feedback %>
      <% end %>
    </ol>
    <%= link_to_add_association 'add feedback', f, :feedbacks %>
  </fieldset>  -->

  <div class="actions">
    <%= f.submit 'Submit', :class => 'button' %>
  </div>
<% end %>
