<p id="notice"><%= notice %></p>

<div class="row">
    <div class="small-12 medium-9 column">
      <h1>Sections</h1>
    </div>
    <div class="small-12 medium-3 column text-right">
      <%= link_to 'New Section', new_section_path, class: "button" %>
    </div>
</div>


<% @sections.each do |section| %>
  <div class="row section row--item">
    <div class="small-9 columns"><%= link_to section.name, edit_section_path(section) %> <span class="secondary">| <%= section.questions.size %> Questions </span></div>
    <div class="small-3 columns text-right end">
            <span class="secondary"><%= link_to 'Questions', section %> | <%= link_to 'Feedbacks', [section, :feedbacks]  %></span>
            <div class="row--item__controls">
                <%= link_to '', edit_section_path(section), class: "edit fa fa-pencil" %>
                <%= link_to '', section, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-times' %>
            </div>
        </div>
  </div>
<% end %>

