<p id="notice"><%= notice %></p>

<div class="row">
    <div class="small-12 medium-9 column">
      <h1><%= @section.name %> Questoins</h1>
    </div>
    <div class="small-12 medium-3 column text-right">
      <%= link_to 'Add New', new_section_path, class: "button" %>
    </div>
</div>

<div class="sortable">
	<% @questions.each do |question| %> 
	  <div class="row question question__questionnaire section row--item" data-qsid="<%= question.question_sections.detect{|qc| qc.section_id == @section.id }.id %>" data-id="<%= question.id %>" data-position="<%= question.question_sections.detect{|qc| qc.section_id == @section.id }.order %>" data-section="<%= @section.id %>">
	        <div class="small-9 columns">
	        	<div class="row--item__order">
	        		<%= question.question_sections.detect{|qc| qc.section_id == @section.id }.order %>
	        	</div>
	        	<%= link_to question.question, question %>
	        </div>
	        <div class="small-3 columns text-right end">
	        	<div class="row--item__controls">
	        		<%= link_to '', edit_question_path(question), class: "fa fa-pencil" %>
	       	 		<%= link_to '', question, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-times" %>
	       	 	</div>
	       	</div>
	    </div>
	<% end %>
</div>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
