<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @questionnaire.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaire_items.each do |questionnaire_item| %>
      <tr>
        <td><%= questionnaire_item.id %></td>
        <td><%= link_to 'Show', questionnaire_item %></td>
        <td><%= link_to 'Edit', edit_questionnaire_item_path(questionnaire_item) %></td>
        <td><%= link_to 'Destroy', questionnaire_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>
