<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="field">
    <div class="clearfix">
      <div class="small-9 columns">
        <h3>Content</h3>
      </div>
    </div>
    <div class="row row--item">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="row row--item">
      <%= f.label :text %>
      <%= f.text_area :text %>
    </div>
  </fieldset>
  <fieldset class="field">
    <div class="clearfix">
      <div class="small-9 columns">
        <h3>Scores</h3>
      </div>
      <div class="small-12 columns">
        <p>Enter the lowest and highest scores that this feedback should show up for.</p>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="row row--item">
        <%= f.label :low %>
        <%= f.number_field :low %>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="row row--item">
        <%= f.label :high %>
        <%= f.number_field :high %>
      </div>
    </div>
  </fieldset>
  <fieldset class="field">
    <div class="clearfix">
      <div class="small-9 columns">
        <h3>Section</h3>
      </div>
      <div class="small-12 columns">
        <p>What section is this feedback for?</p>
      </div>
    </div>
    <div class="row row--item">
      <%= f.label :section_id %>
      <%= f.number_field :section_id %>
    </div>
  </fieldset>
  <fieldset class="actions">
    <%= f.submit 'Submit', :class => 'button' %>
  </fieldset>
<% end %>
