<p id="notice"><%= notice %></p>

<div class="row">
    <div class="small-12 medium-9 column">
      <h1>Results and Feedbacks</h1>

    </div>
    <div class="small-12 medium-3 column text-right">
      <%= link_to 'New Feedback', new_feedback_path, class: "button" %>

    </div>
</div>

<% @feedbacks.each do |feedback| %>
  <div class="row section row--item">
    <div class="small-9 columns"><%= link_to feedback.name, feedback %></div>
    <div class="small-3 columns text-right end">
      <span class="secondary">Scoring <%= feedback.low %> - <%= feedback.high %></span>
      <div class="row--item__controls">
        <%= link_to '', edit_feedback_path(feedback), class: "fa fa-pencil" %>
        <%= link_to '', feedback, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-times" %>
      </div>
    </div>
  </div>
<% end %>

