<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feedback.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @feedback.text %>
</p>

<p>
  <strong>Low:</strong>
  <%= @feedback.low %>
</p>

<p>
  <strong>High:</strong>
  <%= @feedback.high %>
</p>

<p>
  <strong>Section:</strong>
  <%= @feedback.section_id %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
