.button, input{
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-size: 0.8em;
    &:hover{
    	color: $color-font;
    }
}
fieldset{
	border-top: 1px solid $color-border-grey;
	margin-top: 2em;
    padding-top: 2em;
}
.nested-fields{
	.columns{
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
	}
}
.remove-field{
	position: absolute;
	top: 5px;
	right: 5px;
}