header{
	background: #fff;
	border-bottom: solid 1px $color-border-grey;
	padding: 0 1em;
	.logo{
		position: relative;
	    display: inline-block;
	    background: none;
	    padding-top: 0.5em;
	    padding-left: 0;
	    padding-right: 0;
	    width: auto;
	    .img{
	    	position: static;
    		width: 122px;
    		line-height: 0;
	    }
	}
    .sub-brand {
	    font-size: 1em;
	    font-weight: 400;
	    display: inline-block;
		color: $color-mid-grey;
		vertical-align: middle;
		text-transform: uppercase;
	}
	.inline-header-items {
	    padding-top: 1.2em;
	    float: right;
	   	// font-size: 0.8em;
	}
	.header-inline, .header-inline a {
	    text-decoration: none;
	    color: $color-mid-grey;
	    text-transform: uppercase;
	    font-weight: 400;
	}
}