.row--item, .section-contain{
	font-size: 1.2em;
	background: #fff;
	border: solid 1px $color-border-grey;
	padding: 1em;
	margin: 1em;
    margin-left: 0 !important;
    margin-right: 0 !important;
    position: relative;
    &:hover{
    	.row--item__controls{
			display: inline-block;
		}
		.row--item__order{
			background: $color-green-primary;
		}
    }
    &.question.section{
    	padding-top: 0.5em;
    	padding-bottom: 0.5em;
    }
}
.row--item__controls{
	display: none;
	padding-left: 1em;
}
.secondary, .secondary a{
	font-size: 0.8em;
	vertical-align: middle;
    margin-top: -2px;
    display: inline-block;
    color: $color-mid-grey;
}
.secondary a:hover{
	color:$color-green-primary;
}
.row--item__order{
	height: 38px;
	width: 38px;
	border-radius: 38px;
	text-align: center;
	padding-top: 9px;
	color: #fff;
	background:$color-green-secondary;
	display: inline-block;
	margin-right: 0.5em;
}
.question__questionnaire .row--item__controls{
	margin-top: 10px;
}
.text-right.end{
	min-height: 19px;
	font-size: 0.8em;
}
