.menu{
	li{
		display: block;
		a{
			color: $color-mid-grey;
			text-transform: uppercase;
			font-size: rem-calc(18);
		}
		&.active a{
			color: $color-font;
			background: none;
		}
		i{
			min-width: 20px;
		}
	}
	.sub-menu{
		display: none;
		margin-left: rem-calc(31);
		a{
			text-transform: capitalize;
			font-size: rem-calc(16);
		}
		.sub-menu{
			margin-left: 1em;
		}
	}
	.parent-active{
		.sub-menu{
			display: block;
			.sub-menu{
				display: none;
			}
			.active .sub-menu{
				display: block;
			}
		}
	}
	.active{
		.sub-menu{
			display: block;
			.sub-menu{
				display: none;
			}
		}
	}
}
.side-nav{
	padding-top: 1em;
}
