<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Connected Church Toolkit" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://use.fontawesome.com/2ec7dcf555.js"></script>
    <!-- <%= javascript_include_tag :cocoon %>-->    
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "shared/header" %>

    <div class="row page-wrapper">
      <div class="show-for-medium medium-2 column side-bar">
        <%= render "shared/menu" %>
      </div>
      <div class="small-12 medium-10 column">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
